* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.main {
    background-color: rgb(215, 73, 73);
}

h1 {
    text-shadow: 0px 4px 4px black;
    font-weight: 700;
    font-size: 14px;
    padding-top: 100px;
}

.firstp{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 23.44px;
}

p span {
    color: rgb(143, 39, 39);
}

h2 {
    text-align: right;
    font-size: 16px;
    line-height: 18.75px;
}

footer {
    height: 70px;
    background-color: rgb(58, 58, 58, 1);
    text-align: center;
    color: white;
    padding-top: 25px;
    font-weight: 700;
    font-size: 14px;
}

.profile {
    width: 200px;
    height: 185px;
    border-radius: 15px 15px 0 0;
}

.whatsapp {
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.linkedin {
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.name {
    font-weight: bold;
    margin-left: 15px;
    margin-top: 15px;
    padding-bottom: 2px;
}

.container {
    height: 615px;
    padding: 0px 50px;
    margin-left: 165px;
    margin-right: 165px;
    background-color: rgb(243, 243, 243, 1);
}

.card {
    padding-bottom: 10px;
    margin-right: 1290px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    margin-top: 50px;
}

.role {
    margin-left: 15px;
}